@font-face {
    font-family: 'moon_flowerregular';
    src: url('moon_flower-webfont.woff2') format('woff2'),
         url('moon_flower-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-link {
    color: rgb(23,33,94);
    font-size: 34px;
    font-weight: bolder;
    border-bottom: 2px solid rgb(23,33,94);
    font-family: 'moon_flowerregular';
}

.nav-link:hover {
    color: rgb(218, 164, 32);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}